.Button {
    -fx-background-color: purple;
    -fx-text-fill: white;
    -fx-font: sans-serif;
}

.display {
    -fx-background-color: #cccccc;
    -fx-text-fill: #cccccc;
}
.Clear {
    -fx-background-color: blue;
    -fx-text-fill: white;
    
}